@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');
:root{
    --brand-dark-bg: #2A1D33;
    --quiz-con-dark-bg: #2F2F2F;
    --gradient-bg: linear-gradient(89.34deg, #5C8DEC 4.29%, #C322FB 108.01%);;
    --animate-duration: 800ms;
    --animate-delay: 0.2s;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    line-height: 2;
}

body{
    background-color: var(--brand-dark-bg);
    color: white;
    position: relative;
}
h2{
    font-size: 2rem;
}
.quiz-container {
    background-color: var(--quiz-con-dark-bg);
    min-height: 400px;
    width: 70%;
    max-width: 900px;
    min-height: 800px;
    margin: 0 auto;
    position: absolute;
    top: -100px;
}

.quiz-area{
    width: 80%;
    /* background-color: rgb(33, 30, 30); */
    min-height:400px;
    margin: auto;
    display: none;
    overflow: hidden;
    margin: 20px auto;
    padding: 20px;
    width: 50%;
}

.button {
    z-index: 1;
    text-decoration: none;
    margin: 10px;
    letter-spacing: 2px;
    color: white;
    border: 1px solid rgba(255, 255, 255,0.3);
    padding: 10px;
    position: relative;
    overflow: hidden;
    transform: color 1s ease;
  
    background:rgba(33, 30, 30,0.0);
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    
}

.button:hover{
    color: black;
    
}

.button::before{
    content: '';
    position: absolute;
    top:0;
    left: -50px;
    width:0%;
    height: 100%;
    background:var(--gradient-bg);
    transform: skewX(35deg);
    z-index: -1;
    transition: width 0.3s ease-out;
    
}
.button:disabled:hover::before{
    width: 20%;
}
.button:hover::before{
    width: 550%;
}
.button:disabled{
    color: grey;
}
.button:disabled:hover{
    color: grey;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:10px auto;
    width: 90%;
    flex-wrap: wrap;
}

.quiz-container{
    display: block;
    overflow: hidden;
    position: relative;
    box-shadow: 2px 4px 8px 2px rgba(0, 0, 0, 0.25);

}
.addQuestionForm {
    /* position: absolute;
    left:200vw; */
    display: none;
    margin:20px auto;
    width: 80%;
}
.promptQuestionForm{
    display: flex;
    gap: 30px
}
.answerForm{
    display: flex;
    gap:10px;
    flex-direction: column;
}

label{
    padding: 5px;
}
.viewRankView{
    /* position: absolute;
    left: 200vw; */
    display: none;
    margin:20px auto;
    width: 80%;
}

.listQuestionView{
    display: none;
    margin:20px auto;
    width: 60%;
}
.listQuestionView li{
    margin-bottom: 10px;;
}
progress[value]{
    border-radius: 2px;
    height:3px;
    background-image: var(--gradient-bg);
    background-color: #C322FB;
    color: yellow;
    width: 80%;
    padding: 0;
    margin: 0;
}
progress::-webkit-progress-value {
    background: var(--gradient-bg);
}
.progressBar{
    min-width: 200px;
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.questionsBar{
    display: grid;
    width: 100%;
    visibility: hidden;
    gap:2px;
    height: 3px;
    font-size: 1px;
    margin-top: 0;
 
}

hr{
    border: none;
    margin-bottom: 0;
    border-top: solid 1px #5E5E5E;
    
}

.qfill{
    background-color: rgb(90, 90, 90);
    width: 100%;
    text-align: center;
    color: rgb(90, 90, 90);
    overflow: hidden;
    text-indent: -100000px;
}

.green{
    color: rgb(159, 253, 17);
}
.red{
    color: red;
}
.yellow{
    color: rgba(236, 213, 62, 0.997);
}
.greenBG{
    background-color: rgb(159, 253, 17);
}
.redBG{
    background-color: #960000;
}

.title{
    display: flex;
    width: 100%;
    background-color: #252525;
    padding: 5px 10px;
    gap:10px;
    align-items: center;
    text-align: center;
}

.hero-image{
    width: 100%;
    min-height: 200px;
    background: var(--gradient-bg);
}

textarea,select{
    background: none;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

input[type='text']{
    background: none;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    border: solid 1px #5E5E5E;
    padding: 5px;
    
}
